body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.header 
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 70px;

    background-color:rgb(20, 74, 149);
    color: white;

    width:95%;
    height:15%;
    left:-2.5%;
    top:-5%;
    
    position:absolute;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    border-bottom-left-radius: 50% 20%;
    border-bottom-right-radius: 50% 20%;

}

.title
{
    text-align: center;
    color: rgb(20, 74, 149);
    font-size: 36px;
    margin-bottom: 20px;
}

.tabs 
{
    margin-top: 10px;
    display: flex;
    gap: 10px;
}

.tab
{
    background-color: white;
    color: rgb(20, 74, 149);
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    width: 200px;
}

.tab-hovered
{
    background-color: rgb(12, 53, 110);
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    width: 200px;
}

.login-section
{
    display: flex;
    align-items: center;
    background-color: rgb(12, 53, 110);
    padding: 10px;
    border-radius: 15px;
    gap: 10px;
}

.login-button
{
    background-color: white;
    color: rgb(20, 74, 149);
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

.login-user
{
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

.spacer
{
    height: 150px;
}

.login-form-container {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.login-form-title {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.login-form-label {
    display: block;
    margin-bottom: 8px;
    color: #555;
}

.login-form-input {
    width: 95%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-form-button {
    width: 100%;
    padding: 10px;
    background-color: #204a96;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-form-button:hover {
    background-color: #16376e;
}

.login-form-link {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #204a96;
    text-decoration: none;
}

.error {
    
    text-align: center;
    margin-bottom: 10px;

    width:95%;
    height:5%;
    left:-2.5%;
    top:-5%;

    background-color: #e43c3c;
    color: white;

    padding: 10px;
    border-radius: 5px;
}

.success {
    
    text-align: center;
    margin-bottom: 10px;

    background-color: #4CAF50;
    color: white;
    
    width:95%;
    height:5%;
    left:-2.5%;
    top:-5%;

    padding: 10px;
    border-radius: 5px;
}

.management-actions {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 30px;
    width: 90%;
    text-align: center;
    justify-content: center;
    align-items: center;

    margin-left: auto;
    margin-right: auto;
}

.management-button {
    padding: 12px 20px;
    background-color: #204a96;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 600px;
}

.management-action-button
{
    padding: 12px 20px;
    background-color: #204a96;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    margin: 5px;
}

.filter-form{
    margin-bottom: 20px;
    text-align: center;
    padding: 10px;
    background-color: #f1f1f1;
    border-radius: 5px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;

    text-align: center;
    
}

.filter-select {
    padding: 8px;
    margin: 0 10px 0 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.filter-button {
    padding: 8px 12px;
    background-color: #204a96;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

.filter-button:hover {
    background-color: #16376e;
}

.filter-input {
    padding: 8px;
    margin: 0 10px 0 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}